THOUSANDEYES_API_BASE_URL=https://api.thousandeyes.com/v7
TE_TOKEN=
THOUSANDEYES_TOKEN=
THOUSANDEYES_AID=
TE_AID=

TEST_NAME=Blog Transaction - AgenticOps MCP
AGENT_NAME=thousandeyes-va-907056
AGENT_ID=
CONFIRM_DELETE_AGENT=

AGENT_LOCATION=Melbourne
TARGET_SERVER=www.thousandeyes.com
TARGET_PORT=443
CREATE_TEST=false
